html {
  font-size: 16px;
}

//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color: white;
$lighter-red: lighten($body-background-color, 50%);

//media query variables
$break-small: 32.5em;

body {
  background-color: $lighter-red;
}

#contactform {
  background-color: $form-background-color;
  input, textarea {
    background-color: $input-color;
    flex: 2;
  }
  
  @media (min-width: $break-small) {
    & {
      width: 90%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*@mixin center($width, $max-width: 960px) {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#content {
    @include center;
}*/

//set breakpoint sizes
$break-small: 27em;
$break-medium: 48em;
$break-large: 96em;

@mixin breakpoint($break) {
@if $break == large {
@media (max-width: $break-large) {@content;}
}
@else if $break == medium {
@media (max-width: $break-medium) {@content;}
}
@else if $break == small {
@media (max-width: $break-small) {@content;}
}
@else {
@media ($break) {@content;}
}
}

body {
background: white;
@include breakpoint(large) {background: red;font-size: 2.5rem; font-family: 'Times New Roman', Times, serif;}
@include breakpoint(medium) {background: cyan;font-size: 1.5rem; font-family: Arial, Helvetica, sans-serif;}
@include breakpoint(small) {background: green; font-size: 0.95rem; font-family: monospace;}
//@include breakpoint("max-width: 480px") {background: yellow;}
}